body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(bg1.jpg);
    background-position: center;
    background-size: contain;
}

.container {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    width: 300px;
    min-height: 200px;
    text-align: center;
}

h1 {
    margin: 0 0 15px 0;
    color:black;
}

.form-group {
    margin-bottom: 15px;
}

#taskInput {
    padding: 10px;
    width: calc(100% - 22px); 
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addTaskBtn {
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #0da112;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#addTaskBtn:hover {
    background-color: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    color: black;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #c9302c;
}